---
title: UMS User Management system
component: ContentPage
---
div.row
  div.col-sm-6
    h3 Welcome to UMS
    dl
      dt <a href="/createUser">Admin dashboard</a>
      dd Create users and groups
      dt <a href="createGroup">Just go to a 404 page :)</a>
      dd Create a group
  div.col-sm-6
    h3 Development Tools
    dl
      dt <a href="http://webpack.github.io/">Webpack</a>
      dd Compiles front-end source code into modules / bundles
      dt <a href="http://www.browsersync.io/">BrowserSync</a>
      dd A lightweight HTTP server for development
